[submodule "Computer Architecture - 2/CA2-Lab1"]
	path = Computer Architecture - 2/CA2-Lab1
	url = https://github.com/JackShen1/calculator.git
[submodule "Computer Architecture - 2/CA2-Lab2"]
	path = Computer Architecture - 2/CA2-Lab2
	url = https://github.com/JackShen1/c-simple.git
[submodule "Computer Architecture - 2/CA2-Lab3"]
	path = Computer Architecture - 2/CA2-Lab3
	url = https://github.com/JackShen1/ArgParser.git
[submodule "Computer Architecture - 2/CA2-Lab5"]
	path = Computer Architecture - 2/CA2-Lab5
	url = https://github.com/JackShen1/AK2_Lab5.git
[submodule "Computer Architecture - 2/CA2-Lab6"]
	path = Computer Architecture - 2/CA2-Lab6
	url = https://github.com/JackShen1/AK2_Lab6.git
[submodule "Computer Architecture - 2/CA2-Lab7"]
	path = Computer Architecture - 2/CA2-Lab7
	url = https://github.com/JackShen1/AK2_Lab7.git
[submodule "Experiment Planning Theory"]
	path = Experiment Planning Theory
	url = https://github.com/JackShen1/ept-labs.git
[submodule "Computer Modelling"]
	path = Computer Modelling
	url = https://github.com/JackShen1/cm-labs.git
[submodule "System Programming - 1"]
	path = System Programming - 1
	url = https://github.com/JackShen1/assembly-labs.git
[submodule "Programming Basics"]
	path = Programming Basics
	url = https://github.com/JackShen1/pr-labs.git
[submodule "Algorithms and Data structures"]
	path = Algorithms and Data structures
	url = https://github.com/JackShen1/algorithm-basics
[submodule "Computer Architecture - 3/CA3-Lab1"]
	path = Computer Architecture - 3/CA3-Lab1
	url = https://github.com/JackShen1/AK3_Lab1.git
[submodule "Object-Oriented Programming"]
	path = Object-Oriented Programming
	url = https://github.com/JackShen1/oop-labs.git
[submodule "Software Engineering/SE-Lab1_2_5_8"]
	path = Software Engineering/SE-Lab1_2_5_8
	url = https://github.com/JackShen1/pattern-labs.git
[submodule "Software Engineering/SE-Lab3_7"]
	path = Software Engineering/SE-Lab3_7
	url = https://github.com/JackShen1/graphical-editor.git
[submodule "Software Engineering/SE-Lab4"]
	path = Software Engineering/SE-Lab4
	url = https://github.com/JackShen1/imago.git
[submodule "Software Engineering/SE-Lab6"]
	path = Software Engineering/SE-Lab6
	url = https://github.com/JackShen1/graph-plotter.git
[submodule "Software Engineering/SE-Lab9"]
	path = Software Engineering/SE-Lab9
	url = https://github.com/JackShen1/multi-editor.git
[submodule "Parellel Programming"]
	path = Parellel Programming
	url = https://github.com/JackShen1/parallel-programming.git
[submodule "Parallel and Distributed Calculations"]
	path = Parallel and Distributed Calculations
	url = https://github.com/JackShen1/parallel-calc.git
[submodule "Computer Architecture - 3/CA3-Lab2"]
	path = Computer Architecture - 3/CA3-Lab2
	url = https://github.com/JackShen1/AK3_Lab2.git
[submodule "Computer Architecture - 3/CA3-Lab3"]
	path = Computer Architecture - 3/CA3-Lab3
	url = https://github.com/JackShen1/AK3_Lab3.git
[submodule "Computer Architecture - 3/CA3-Lab4"]
	path = Computer Architecture - 3/CA3-Lab4
	url = https://github.com/JackShen1/AK3_Lab4.git
